.ajs-modal {
  background-color: rgba(220, 53, 69, 0.5);
}

.ajs-dialog,
.ajs-header,
.ajs-footer {
  background-color: #dc3545 !important;

  color: #fff !important;
  font-size: larger;
}
.ajs-close {
  border: 1px solid #fff !important;
  background-color: #fff !important;
  border-radius: 2px !important;
}

.pomodoro .ajs-modal {
  background-color: rgba(25, 135, 84, 0.5);
}

.pomodoro .ajs-dialog,
.pomodoro .ajs-header,
.pomodoro .ajs-footer {
  background-color: #198754 !important;
  color: #fff !important;
  font-size: larger;
}
.pomodoro .ajs-close {
  border: 1px solid #fff !important;
  background-color: #fff !important;
  border-radius: 2px !important;
}
