nav {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-width: 720px !important;
  border-bottom: solid 1px #e9ecef;
}

nav .active {
  color: blue;
  border-bottom: solid 1px blue;
}

nav :hover {
  font-weight: bold;
  color: blue;
  border-bottom: solid 1px blue;
  cursor: pointer;
}
