#root {
  max-width: 720px !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

button {
  margin-right: 10px !important;
}

main {
  background-color: #e8e8e8;
}

ol li span {
  margin-left: 20px;
}

@media only screen and (min-width: 720px) {
  .stopwatchDisplay {
    font-size: 3rem !important;
    margin-right: 10px !important;
  }
  .timerDisplay {
    font-size: 3rem !important;
  }
  .timerAbbs {
    font-size: 1.75rem !important;
  }
}
