@property --percentage {
  initial-value: 100%;
  inherits: false;
  syntax: '<percentage>';
}

.chart {
  background: conic-gradient(DarkTurquoise var(--percentage), white 0);
  border-radius: 50%;
  width: 254px;
  height: 254px;
}

.circle {
  background: white;
  /*   border:1px solid yellow; */
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
  top: 2px;
  left: 2px;
}

@media only screen and (min-width: 720px) {
  .chart {
    width: 304px;
    height: 304px;
  }

  .circle {
    width: 300px;
    height: 300px;
  }
}

/* 


JS:

const circle = document.querySelector('.chart');

let percentage = 40;

circle.style.background = `conic-gradient(red ${percentage}%, white 0)`;


*/
